/* ==========
 去除浮动
   ========== */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
body{
	min-width: 1000px;
	max-width: 1280px;
	margin: 0 auto;
	font-family: 微软雅黑;
}
header{
	position: relative;
	max-width: 1160px;
	margin: 0 auto;
	height: 56px;
}
header .logo{
	position: absolute;
	top: 0;
	left: 0;
}
header .logo a{
	text-decoration: none;
	line-height: 56px;
	display: inline-block;
	font-size: 21px;
	font-family: 宋体;
}
header nav{
	position: absolute;
	top:0;
	right: 0;
}
header nav a{
	padding: 16px 18px;
	line-height: 56px;
	color:#000;
	
	text-decoration: none;
	font-size: 14px;
}
header nav a.cur{
	color: #e74a55;
	border-bottom: 5px solid #e74a55;
}
header nav a:nth-child(7){
	padding-left: 9px;
	color: #e74a55;
}
section.banner{
	position: relative;
	height: 854px;
	max-width: 1280px;
	margin: 0 auto;
	background: url(../images/banner.png);
}
.banner_info p:first-child{
	color: #ffffff;
	font-size: 60px;
}
.banner_info p:nth-child(2){
	color: #ffffff;
	font-size: 21px;
}
.banner_info a{
	display: inline-block;
	color: #ffffff;
	font-size: 30px;
	text-decoration: none;
	padding: 17px 115px;
	background: #e74f4d;
}
.banner_mask{
	width: 100%;
	height: 100%;
	background: #ccc;
	opacity: 0.3;
	position: absolute;
	z-index: 1;
}
.banner_info{
	position: absolute;
	top:230px;
	left: 115px;
	z-index: 2;
}
.banner_info p:nth-child(2){
	margin-top:30px;
	margin-left:10px;
}
.banner_info a{
	margin-left:10px;
	margin-top:66px;
}
.new_life_info{
	margin: 0 auto;
	height: 250px;
	max-width: 1280px;
}
.new_life_info div.father{
	text-align: center;
	display: inline-block;
	width: calc(25%);
	height: 250px;
}
.new_life_info div.father i{
	margin: 0 auto;
	background: url(../images/ico.png);
	display: block;
	height: 42px;
	width: 42px;
}
.new_life_info div.content{
	margin:45px auto;
}
.new_life_info div i.two{
	background-position: 42px 0px;
}
.new_life_info div i.three{
	background-position: 42px 42px;
}
.new_life_info div i.five{
	background-position: 0px 42px;
}
.new_life_info .father .content p{
	margin-top:45px;
	height: 50px;
	border-right:2px solid #bbbbbb;
}
.about_new_life{
	background-color: #edecec;
}
.about_new_life i{
	margin: 0 auto;
	display: block;
	width: 91px;
	height: 92px;
	background:url(../images/ico_about_newLife.png);
}
.about_new_life{
	padding: 85px 0;
	text-align: center;
}
.about_new_life p{
	color: #a1a1a1;
	margin-top:50px;
	font-family: 黑体;
	font-size: 54px;
}
.search_new_life{
	padding-bottom: 130px;
	padding-top:52px;
	text-align: center;
	background: url(../images/seemap.png);
}
.search_new_life h3{
	color: #ffffff;
	font-family: 微软雅黑;
	font-size: 21px;
}
.search_new_life p{
	margin-top:17px;
	color: #ffffff;
	font-size: 12px;
	font-family: 微软雅黑;
}
.search_new_life input{
	height: 34px;
	width: 234px;
	border: 2px #bf4f49 solid;
	margin-top:54px;
}
.search_new_life a{
	text-decoration: none;
	font-family: 微软雅黑;
	font-size: 14px;
	color: #ffffff;
	background-color: #be4e48;
	padding: 10px 103px;
}
.activity{
	background-color: #f7f7f7;
}
.activity figure{
	padding: 100px 0px;
	margin-right:34px;
	text-align: center;
	display: inline-block;
	height: 390px;
}
.activity figure figcaption{
}
.activity figure figcaption p{
	font-family: 微软雅黑;
	font-size: 14px;
	line-height: 28px;
}
.activity figure figcaption p:first-child{
	color: #636363;
}
.activity figure figcaption p:last-child{
	color: #dadada;
}
.activity figure img{
	background: #fff;
	padding: 13px 8px;
	width: 200px;
	height: 310px;
}
.act1_info p:first-child{
	font-size: 20px;
	letter-spacing: 15px;
}
.act{
	width: 1000px;
	margin:auto 140px;
}
.new_life_right{
	height: 563px;
	width: 34%;

	float: right;
}
.new_life_right .right_info{

	margin: 161px auto;
}
.new_life_right .right_info h3{
		text-align: center;
		font-size: 21px;
}
.new_life_right .right_info h3 span{
	color: #e74f4d;
}
.new_life_right .right_info p{
	width: 80%;
	margin: 0 auto;
	line-height: 34px;
	color: #c9c9c9;
	font-size: 12px;
}
.new_life_right a{
	margin: 0px auto;
	margin-top:50px;
	text-decoration: none;
	width: 48px;
	height: 14px;
	display: block;
	padding: 10px 29px;
	font-size: 12px;
	color: #e4666a;
	border:1px solid #e4666a;
}
.new_life_right ul{
	margin-top:25px;
	text-align: center;
}
.new_life_right ul li{
	border:1px solid #9c9c9c;
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background:#ffffff;
	
}
.new_life_right ul li.cur{
	background: #9c9c9c;
}

.new_life_left{
	text-align:center;
	padding-top:130px;
	background: url(../images/new_life.png);
	height: 433px;
	width: 66%;
	float: left;
}
.new_life_left .left_info{
}
.new_life_left .left_info p:first-child{
	font-size: 50px;
	color: #ffffff;
}
.new_life_left .left_info p:nth-child(2){
	font-size: 157.79px;
	color: #ffffff;
}
.new_life_left .left_info p:nth-child(3){
	font-size:22px;
	color: #ffffff;
}
.new_life_left .left_info p:last-child{
	font-size:22px;
	color: #ffffff;
}
.love_life .love_life_div{
	height: 520px;
	width: calc(33.33333%);
}
.love_life_left{
	background: #e74f4d;
	float: left;
}
.l_love_life{
	text-align: center;
	margin:0 auto;
	margin-top:168px;
}
.l_love_life p{
	line-height: 28px;
	font-size: 18px;
	color: #fff;
}
.l_love_life input{
	margin: 0 auto;
	width: 167px;
    height: 41px;
    color: #e74f4d;
    background-color: #fff;
    border: 1px solid #e74f4d;
    outline: none;

}
.love_life_right{
	float: right;
}
.love_life_center{

	text-align: center;
	margin: 0 100px;
	margin-top:168px;
}
.love_life_center p{
	line-height: 28px;
	font-size: 18px;
	color: #000;
}
.love_life_center input{
	margin: 0 auto;
	width: 167px;
    height: 41px;
    color: #e74f4d;
    background-color: #fff;
    border: 1px solid #e74f4d;
    outline: none;
}


